.main{
    max-height: 150px;
    animation: zerotohero 2s ease;
}
.main2{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mic {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mic2 {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scaleUpDown 3s infinite ease-in-out forwards;
}

@keyframes scaleUpDown {
    0% {
        transform: scale(1); /* Initial state */
    }
    50% {
        transform: scale(1.1); /* Scale up to 1.5x size */
    }
    100% {
        transform: scale(1); /* Scale back down to original size */
    }
}

.animation {
    max-width: 50px;
    max-height: 50px;
}

.mic_icon{
    position: relative;
    bottom: 85px;
    left: 60px;
    display: hidden;
    transform: scale(2);
    color: white;
}

.mic_icon2{
    position: relative;
    bottom: 25px;
    z-index: 999;
    max-width: 15px;
    max-height: 15px;
}

.spiner{
    position: relative;
    bottom: 85px;
    max-width: 30px;
    max-height: 30px;
    left: 60px;
} 

@keyframes zerotohero{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}